<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


<div calss="container-fluid" style="height:250px;background-color:grey;" >
    <div class="footer-social-icons">
            <a herf="#" target="blank"><i class="fab fa-facebook" style="color:#1f1f7a"></i></i></a>
            <a herf="#" target="blank"><i class="fab fa-twitter"style="color:skyblue"></i></i></a>
            <a herf="#" target="blank"><i class="fab fa-youtube"style="color:red"></i></i></a>
            <a herf="#" target="blank"><i class="fab fa-instagram" style="color:red" ></i></i></a>
            <a herf="#" target="blank"><i class="fab fa-linkedin"style="color:#3434cb"></i></i></a>
    </div>



</div>


</body>
</html>